@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(sapce1.jpeg);
   

}
h1 {
    border-bottom: 1px solid black;
    margin-bottom: 100px;
    font-family: 'Press Start 2P', cursive;
    color: whitesmoke;
    outline: 5px solid #099FFF;
    outline-offset: 20px;
    

}
#game-container {
    margin: 50px;
    display: flex; 
    justify-content: center;
    border-bottom: 15px solid whitesmoke;
   
}
.tower {
    width: 15px;
    height: 300px;
    background-color: #099FFF;
    margin: 0 200px;
    border-radius: 50px/25px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
}
#one {
    height: 40px;
    width: 100px;
    background-color: red;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    border:  rgb(32, 32, 32) 2px solid; 
    
}
#two {
    height: 40px;
    width: 150px;
    background-color: blue;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    border:  rgb(32, 32, 32) 2px solid;
}
#three {
    height: 40px;
    width: 200px;
    background-color: yellow;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    border:  rgb(32, 32, 32) 2px solid;
}
#four {
    height: 40px;
    width: 250px;
    background-color: green;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    border:  rgb(32, 32, 32) 2px solid;
}
#five {
    height: 40px;
    width: 300px;
    background-color: purple;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.H1 {
    margin: 75px 0;
    border: none;
    font-size: 4em;
    color: yellow;
}